@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@keyframes section1 {
  from {
    transform: translateX(-50%);
    opacity: 0;
  } to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes scale {
  from {
    scale: 0;
  } to {
    scale: 1;
  }
}

@keyframes section3 {
  0%, 50% {
    transform: translateY(100%);
  } 100% {
    transform: translateY(0);
  }
}
@keyframes section4 {
  0%, 50% {
    transform: translateY(-100%);
    opacity: 0;
  } 100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-section-1 {
  animation: section1 1.5s ease;
}
.animate-section-2 {
  animation: scale 1.5s ease;
}
.animate-section-3 {
  animation: section3 4s ease;
}
.animate-section-4 {
  animation: section4 4s ease;
}

.animate-time-4000 {
  animation-duration: 4000ms;
}
.animate-time-2000 {
  animation-duration: 2000ms;
}
.animate-time-700 {
  animation-duration: 700ms;
}
.animate-time-1000 {
  animation-duration: 1000ms;
}